:root {
  --color1: #66d2ce;
  --color2: #d98324;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
  font-family: sans-serif, Montserrat;
  background-color: var(--color1);
}

.paragraph > p {
  font-size: 1.2rem;
  color: var(--color2);
}
